<!DOCTYPE html>
<html>
<head>
	<title>Favourited Recipes | More-Recipes</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Montserrat">
	<link rel="stylesheet" href="css/favourite_recipes.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="google-signin-client_id" content="827684783940-iisct8ub0eifot2ebb4fod5f3nrnk7ij.apps.googleusercontent.com">
</head>
<body class="favourite-recipes">
        <header>
                <ul id="dropdown1" class="dropdown-content">
                  <li><a href="profile.html">Profile</a></li>
                  <li><a href="my_recipes.html">My Recipes</a></li>
                  <li><a href="#!">Logout</a></li>
                </ul>
                <ul id="dropdown2" class="dropdown-content">
                  <li><a href="profile.html">Profile</a></li>
                  <li><a href="my_recipes.html">My Recipes</a></li>
                  <li><a href="favourite_recipes.html">Favourited Recipes</a></li>
                  <li><a href="#!">Logout</a></li>
                </ul>
                <div class="navbar-fixed">
                    <nav class="grey darken-2">
                        <div class="container">
                            <div class="nav-wrapper">
                              <a href="catalog.html" class="brand-logo">More-Recipes</a>
                              <a href="#" data-activates="mobile" class="button-collapse">
                                  <i class="material-icons">menu</i></a>
                              <ul class="right hide-on-med-and-down">
                                <li><a href="catalog.html">Catalog</a></li>
                                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">John<i class="material-icons right">arrow_drop_down</i></a></li>
                              </ul>
                            </div>
                        </div>
                  </nav>
        
                </div>
                <ul class="side-nav" id="mobile">
                    <li><a href="catalog.html">Catalog</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">John<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </header>
    <div class="container">
            <div class="favorited-reviews">
                    <h4>Favorited Recipes</h4>
                    <hr/>
                    <div class="row">
                            <div class="col s12 l4 m4">
                                    <div class="card">
                                            <div class="card-image">
                                                <img src="https://lorempixel.com/400/415/food/6">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <a href="recipe_details.html"><span class="card-title">Recipe</span></a>
                                                    <p>This is a recipe that i have been working on for a while.</p>
                                                    
                                                </div>
                                                <div class="card-action">
                                                        <div class="recipe-icons">
                                                                <a href="#!" class="upvotes"><i class="material-icons">thumb_up</i></a>
                                                                <a href="#!" class="downvotes"><i class="material-icons">thumb_down</i></a>
                                                                <a href="#!" class="favourite red-text"><i class="material-icons">favorite</i></a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="col s12 l4 m4">
                                    <div class="card">
                                            <div class="card-image">
                                                <img src="https://lorempixel.com/400/415/food/7">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <a href="recipe_details.html"><span class="card-title">Another Recipe</span></a>
                                                    <p>This is a recipe that i have been working on for a while.</p>
                                                </div>
                                                <div class="card-action">
                                                        <div class="recipe-icons">
                                                                <a href="#!" class="upvotes"><i class="material-icons">thumb_up</i></a>
                                                                <a href="#!" class="downvotes"><i class="material-icons">thumb_down</i></a>
                                                                <a href="#!" class="favourite red-text"><i class="material-icons">favorite</i></a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>	
                            </div>
                            <div class="col s12 m4 l4">
                                    <div class="card">
                                            <div class="card-image">
                                                <img src="https://lorempixel.com/400/415/food/7">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <a href="recipe_details.html"><span class="card-title">Another Recipe</span></a>
                                                    <p>This is a recipe that i have been working on for a while.</p>
                                                </div>
                                                <div class="card-action">
                                                        <div class="recipe-icons">
                                                                <a href="#!" class="upvotes"><i class="material-icons">thumb_up</i></a>
                                                                <a href="#!" class="downvotes"><i class="material-icons">thumb_down</i></a>
                                                                <a href="#!" class="favourite red-text"><i class="material-icons">favorite</i></a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                      </div>
                      <div class="row">
                            <div class="col s12 m4 l4">
                                    <div class="card">
                                            <div class="card-image">
                                                <img src="https://lorempixel.com/400/415/food/7">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <a href="recipe_details.html"><span class="card-title">Another Recipe</span></a>
                                                    <p>This is a recipe that i have been working on for a while.</p>
                                                </div>
                                                <div class="card-action">
                                                        <div class="recipe-icons">
                                                                <a href="#!" class="upvotes"><i class="material-icons">thumb_up</i></a>
                                                                <a href="#!" class="downvotes"><i class="material-icons">thumb_down</i></a>
                                                                <a href="#!" class="favourite red-text"><i class="material-icons">favorite</i></a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                          <div class="col s12 m4 l4">
                                    <div class="card">
                                            <div class="card-image">
                                                <img src="https://lorempixel.com/400/415/food/8">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <a href="recipe_details.html"><span class="card-title">Last Recipe</span></a>
                                                    <p>This is a recipe that i have been working on for a while.</p>
                                                    
                                                </div>
                                                <div class="card-action">
                                                        <div class="recipe-icons">
                                                                <a href="#!" class="upvotes"><i class="material-icons">thumb_up</i></a>
                                                                <a href="#!" class="downvotes"><i class="material-icons">thumb_down</i></a>
                                                                <a href="#!" class="favourite red-text"><i class="material-icons">favorite</i></a>
                                                                </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="col s12 m4 l4">
                                    <div class="card">
                                            <div class="card-image">
                                                <img src="https://lorempixel.com/400/415/food/1">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <a href="recipe_details.html"><span class="card-title">Last Recipe</span></a>
                                                    <p>This is a recipe that i have been working on for a while.</p>
                                                    
                                                </div>
                                                <div class="card-action">
                                                        <div class="recipe-icons">
                                                                <a href="#!" class="upvotes"><i class="material-icons">thumb_up</i></a>
                                                                <a href="#!" class="downvotes"><i class="material-icons">thumb_down</i></a>
                                                                <a href="#!" class="favourite red-text"><i class="material-icons">favorite</i></a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                      </div>
        
                </div>
          
    </div>
    <footer class="page-footer grey darken-2">
            <div class="footer-copyright">
                <div class="container">&copy; More-Recipes</div>
            </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
</body>
</html>