<!Doctype html>
<html>
	<head>
		<title>More-Recipes</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Montserrat">
		<link rel="stylesheet" href="css/index.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="google-signin-client_id" content="827684783940-iisct8ub0eifot2ebb4fod5f3nrnk7ij.apps.googleusercontent.com">
	</head>
	<body>
		<div class="container">
			<header>
					<nav class="transparent z-depth-0">
							<div class="container">
								<div class="nav-wrapper">
									<a href="#!" class="brand-logo">More-Recipes</a>
									<a href="#" data-activates="mobile" class="button-collapse">
										<i class="material-icons">menu</i></a>
									<ul class="right hide-on-med-and-down">
										<li><a href="catalog.html">Catalog</a></li>
									</ul>
									<ul class="side-nav" id="mobile">
										<li><a href="catalog.html">Catalog</a></li>
									</ul>
								</div>
							</div>
					</nav>				
			</header>

			<div class="info center-align">
				<h1 class="white-text">Welcome to More-Recipes</h1>
				<h3 class="white-text">A platform for sharing recipe ideas you invented or learnt.
					 Find innovative recipes or share one of your own.</h3>
					 <div class="cta-buttons">
							<a href="signup.html" class="waves-effect waves-light btn-large red darken-2">Sign Up, It's free!</a>
							<a href="signin.html" class="waves-effect waves-light btn-large green darken-2">Members, Sign In</a>
					 </div>
			</div>
		</div>
	</body>
</html>