@import 'partials/variables';
@import 'partials/global';

.index-body {
  /* The image used */
  background-image: url('https://res.cloudinary.com/king-more-recipes/image/upload/c_scale,e_art:sonnet,w_172/v1575834556/food-icons-png.png');

  /* Center and scale the image nicely */
  background-repeat: repeat;

  height: 100%;
  min-height: 100%;
  margin: 0;
}

.info {
  margin-top: 100px;
  h1 {
    font-family: $header-font;
  }
  .cta-buttons {
    margin-top: 50px;
    font-family: $header-font;
  }
}

.navigation {
  margin-left: 35px;
  margin-right: 35px;
}

h4 {
  font-family: $body-font;
}
