@import 'partials/variables';
@import 'partials/global';

textarea.materialize-textarea{
	padding: 10px;
}

.add-recipe-button{
	margin-top: 30px;
	margin-bottom: 50px;
}

.my-recipes{
	background-color: #FAFAFA;
}

.modal{
	max-height: 90%;
}

.icons{
	margin-left: 10px;
}