@import 'partials/variables';
@import 'partials/global';

.profile-body {
	/* The image used */
    background-image: url('../img/index-bg-image.jpg');

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
	margin-top: 50px;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

textarea.materialize-textarea{
	padding: 0;
}

input[value], textarea{
	font-family: $header-font;
}

.card{
	.card-action{
		border-top: none;
	}
}
