@import '../../styles/variables';

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  height: 100px;
  box-shadow: 3px 3px 2px #dcdcdc;
}

.listItem {
  margin-left: 0.7em;
  margin-right: 0.7em;
  font-size: 0.9em;
}

.linksContainer {
  display: flex;
  flex-direction: row;
}

.brandLogo {
  color: $brand-red;
}
