.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  //   background-image: url('https://res.cloudinary.com/king-more-recipes/image/upload/c_scale,e_art:sonnet,w_172/v1575834556/food-icons-png.png');
}
