@import 'partials/variables';
@import 'partials/global';

.box{
	margin-top: 50px;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

textarea.materialize-textarea{
	padding: 0;
}

input[value], textarea{
	font-family: $header-font;
}
