@import 'partials/variables';
@import 'partials/global';

.details{
	background-color: $body-color;
	font-family: $body-font;
}
.details-box{
	height: 100%;
	margin-top: 10px;
	background-color: $white;
}

.review{
	margin-top: 50px;
}

.review-container{
	height: 100px;
	padding: 10px;
	background-color: $body-color;
}