body,
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: $body-font;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

nav .brand-logo {
  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.dropdown-content {
  min-width: 200px;
}

.recipe-card {
  .card-image img {
    height: 220px;
  }

  .card-content {
    height: 10rem;
  }
}
